@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --cor-de-fundo: rgb(255, 192, 243);
    --fonte-principal:josefin Sans ;
}
body {
    background-color: var(--cor-de-fundo);
}
